:root {
  --circle-size: 100px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#circle-list {
  display: flex;
}

.ball {
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 100%;
}
